<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Vk Statistics</title>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#"><h1>Vk.com Statistics</h1></a>
</nav>
<div align="center">
    <h1>Group Statistics for the Week</h1>
    <br>
    <h2 style="color: blue;">Activities</h2>
    <table class="table table-bordered" style="width: 900px; margin: auto;">
        <tbody>
        <tr class="table-primary">
            <td>Subscribed</td>
            <td>{{ stats['activity']['subscribed'] }}</td>
        </tr>
        <tr class="table-primary">
            <td>Unsubscribed</td>
            <td>{{ stats['activity']['unsubscribed'] }}</td>
        </tr>
        <tr class="table-primary">
            <td>Views</td>
            <td>{{ stats['visitors']['views'] }}</td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<div align="center">
    <h2 style="color: green;">Ages</h2>
    <table class="table table-bordered" style="width: 900px; margin: auto;">
        <tbody>
        {% for elem in my_stats['ages'] %}
        <tr class="table-success">
            <td>{{ elem }}</td>
            <td>{{ my_stats['ages'][elem] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br>
<div align="center">
    <h2 style="color: pink;">Cities</h2>
    <table class="table table-bordered" style="width: 900px; margin: auto;">
        <tbody>
        {% for city in stats['reach']['cities'] %}
        <tr class="table-danger">
            <td>{{ elem['name'] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>