<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Vk Statistics</title>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#"><h1>Vk.com Statistics</h1></a>
</nav>
<div align="center">
    <h2 style="color: purple;">Activities</h2>
    <table class="table table-bordered" style="width: 900px; margin: auto;">
        <thead>
        <tr class="table-active">
            <th scope="col">Title of activity</th>
            <th scope="col">Team leader</th>
            <th scope="col">Duration</th>
            <th scope="col">List of collaborators</th>
            <th scope="col">Hazard category</th>
            <th scope="col">Is finished</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="table-primary">{{job.job}}</td>
            <td class="table-primary">{{job.user.surname}} {{job.user.name}}</td>
            <td class="table-primary">{{job.work_size}} hours</td>
            <td class="table-primary" align="center">{{job.collaborators}}</td>
            <td class="table-primary" align="center">{{job.categories|map(attribute="id")|join(', ')}}</td>
            {% if job.is_finished == true %}
            <td class="table-danger">Is finished</td>
            {% else %}
            <td class="table-danger">Is not finished</td>
            {% endif %}
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>